.site-nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-nav {
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
}

.logo {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}

.logo:hover {
    color: #fff;
}

.site-nav .site-navigation .site-menu {
    margin-bottom: 0;
}

.site-nav .site-navigation .site-menu>li.active>a {
    color: #fff;
}

.site-nav .site-navigation .site-menu>li>a {
    font-size: 14px;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none !important;
    color: rgba(255, 255, 255, .7);
}

.site-nav .site-navigation .site-menu>li>a :hover {
    color: #fff !important;
}

.site-nav .site-navigation .site-menu .has-children {
    position: relative;
}

.site-nav .site-navigation .site-menu>li {
    display: inline-block;
}

.site-nav .site-navigation .site-menu .has-children:hover,
.site-nav .site-navigation .site-menu .has-children:focus,
.site-nav .site-navigation .site-menu .has-children:active {
    cursor: pointer;
}

.site-nav .site-navigation .site-menu .has-children:hover>a,
.site-nav .site-navigation .site-menu .has-children:focus>a,
.site-nav .site-navigation .site-menu .has-children:active>a {
    color: #fff;
}

.site-nav .site-navigation .site-menu .has-children>a {
    position: relative;
    padding-right: 20px;
}

i.arrow.fa.fa-angle-down {
    position: absolute;
    font-size: 14px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

i.arrow.fa.fa-angle-right {
    position: absolute;
    font-size: 14px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}



.site-nav .site-navigation .site-menu .has-children:hover>.dropdown,
.site-nav .site-navigation .site-menu .has-children:focus>.dropdown,
.site-nav .site-navigation .site-menu .has-children:active>.dropdown {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}

.site-nav .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    z-index: 999;
    position: absolute;
    text-align: left;
    -webkit-box-shadow: 0 2px 10px -2px rgb(0 0 0 / 10%);
    box-shadow: 0 2px 10px -2px rgb(0 0 0 / 10%);
    padding: 20px 0;
    margin-top: 20px;
    margin-left: 0;
    background: #fff;
    -webkit-transition: .2s 0s;
    -o-transition: .2s 0s;
    transition: .2s 0s;
}


.site-nav .site-navigation .site-menu .has-children .dropdown a {
    font-size: 14px;
    text-transform: none;
    letter-spacing: normal;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    transition: 0s all;
    color: #000;
}

.site-nav .site-navigation .site-menu .has-children .dropdown>li>a:hover {
    color: #f85a40;
}

.site-nav .site-navigation .site-menu .has-children .dropdown>li>a {
    padding: 5px 20px;
    display: block;
}

.site-nav .site-navigation .site-menu .has-children .dropdown>li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 180px;
}

.site-nav .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
.site-nav .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
.site-nav .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a {
    color: #f85a40;
}

.submenu li {
    list-style: none;
    padding: 5px 20px;
}

/* nested dropdown */
.site-nav .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
.site-nav .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
    position: absolute;
    list-style: none;
    padding: 20px 0;
    margin: 0px;
    top: -20%;
    left: 100%;
    min-width: 180px;
}



.site-nav .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown li a:hover,
.site-nav .site-navigation .site-menu .has-children .dropdown>li.has-children>ul li a:hover {
    color: #f85a40;
}

.burger {
    display: none;
    position: relative;
    cursor: pointer;
    left: 80%;
    bottom: 45px;
    z-index: 2000;
    max-width: 10%;
}

.close {
    display: none;
    position: absolute;
    left: 75%;
    font-size: xx-large !important;
}

.line {
    width: 32px;
    background-color: white;
    height: 2px;
    margin: 9px 5px;
}

ul.navbar.responsive {
    display: none !important;
}

@media only screen and (max-width:992px) {
    ul.js-clone-nav.d-none.d-lg-inline-block.text-left.site-menu {
        display: none !important;
    }

    ul.navbar.responsive {
        display: block !important;
    }

    ul.navbar.responsive {
        margin: 35px 1px;
    }

    ul.navbar.responsive li {
        list-style: none;
    }

    .offCanvas {
        width: 300px;
        position: fixed;
        right: 0;
        z-index: 2000;
        padding-top: 20px;
        background: #fff;
        height: calc(100vh);
        bottom: 0px;
    }

    li.active a {
        color: #f85a40;
    }

    li a {
        font-size: 15px;
        padding: 5px 5px;
        display: block;
        position: relative;
        color: #000;
    }

    li a:hover {
        color: #f85a40;
    }

    .close {
        display: block;
    }

    .drop {
        position: absolute;
        top: 10px;
        right: 19px;
    }

    .burger {
        display: block;
    }
}